
body{
    margin: 0px;
}
.main{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.paper{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
}
.avatar{
    margin: 20px;
    background-color : rgb(190, 50, 50) !important;
}

.form{
    width: 100%; // Fix IE 11 issue.
    margin-top: 20px;
}
.submit{
    margin-top : 50px !important;
}

.forget{
    font-size: normal;
    font-weight: lighter 

}

.create{
    font-size: normal;
    font-weight: bold 

}
.questionsBlock{
    margin-top: 5px;
}
.modal{
    position: absolute;
    width: 50%;
    margin: auto;
    background-color: rgb(235, 221, 221);
    outline: 5px;
} 

.list{
    width: 100%;
    background-color: beige;
}
.inline{
    display: inline !important;
}

